<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div>
    <h1>Список пользователей</h1>
    <a href="/registration">Зарегистрироваться</a>
    <table width="400" cellpadding="10">
        <p > <a href="/users/new"> Создать нового пользователя </a> </p>
        <tr><th>Id</th><th>First name</th><th>Last name</th><th>Job</th><th></th><th></th></tr>
        <th:block th:each="user : ${allUsers}">
            <tr><td><p th:text="${user.getId()}" /></td>
                <td><a th:href="@{/users/{id}(id=${user.getId()})}"><p th:text="${user.getFirstName()}" /></a></td>
                <td><p th:text="${user.getLastName()}" /></td>
                <td><p th:text="${user.getJob()}" /></td>
                <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}"> Изменить </a></td>
                <td> <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Удалить"/> </form> </td></tr>
        </th:block>
    </table>
</div>



</body>
</html>


