<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Создать нового пользователя</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
</head>

<body>

<!--  Header   -->
<div class="container-fluid">
    <div class="row bg-dark text-white">
        <div class="col-1   text-end fw-weight-bolder align-middle " style="text-align: right"><h5><a th:text="${user.getUsername()}">...</a></h5></div>
        <div class="col-10  text-start align-middle"><h5> with roles: <a th:text="${user.getStringRoles()}">...</a></h5></div>
        <div class="col-1  text-grey text-end fw-weight-bolder align-middle" style="color: #7a7c7e"><p><a href="/logout" class="alert-link"> Logout </a></p></div>
    </div>
</div>

<!-- Left menu--->
<div class="row">
    <div class="col-md-2" >
        <div class="d-grid mx-auto">
            <p></p>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="text-align:left"> Admin </button>
            <p></p>
            <p style="margin-left: 15px; margin-top: 15px;"><a href="/user" class="alert-link text-field"> User </a> </p>

        </div>
    </div>

<!-- Content-->
    <div class="col-md-10">
        <h3>Admin panel</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link " href="/admin">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">New User</a>
            </li>
        </ul>

                    <h5 style="margin-left: 15px; margin-top: 15px;">Add new user</h5>

                    <!--Форма добавления юзера-->

                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <form th:method="POST" th:action="@{/admin/}" th:object="${user}">

                            <label for="name">Имя: </label><br/>
                            <input type="text" th:field="*{firstName}" id="name"/>
                            <br/>

                            <label for="lastname">Фамилия: </label><br/>
                            <input type="text" th:field="*{lastName}" id="lastname"/>
                            <br/>

                            <label for="job">Профессия: </label><br/>
                            <input type="text" th:field="*{job}" id="job"/>
                            <br/>

                            <label for="username">login: </label><br/>
                            <input type="text" th:field="*{username}" id="username"/>
                            <br/>

                            <label for="password">Пароль: </label><br/>
                            <input type="password" th:field="*{password}" id="password"/>
                            <br/>



                            <label for="roles">Roles</label><br>
                            <select class="custom-select" name="selectedRoles" id="roles" size="2" multiple th:field="*{roles}">
                            <option value="1">ADMIN</option>
                            <option value="2">USER</option>
                            </select><br><br>

                            <input type="submit" value="Add new user" class="btn btn-success"/>
                            </form>
                        </div>
                    </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>


